<p id="notice"><%= notice %></p>

<p>
  <strong>Facebook url:</strong>
  <%= @manage_follow_u.facebook_url %>
</p>

<p>
  <strong>Twitter url:</strong>
  <%= @manage_follow_u.twitter_url %>
</p>

<p>
  <strong>Google url:</strong>
  <%= @manage_follow_u.google_url %>
</p>

<p>
  <strong>Youtube url:</strong>
  <%= @manage_follow_u.youtube_url %>
</p>

<p>
  <strong>Ping url:</strong>
  <%= @manage_follow_u.ping_url %>
</p>

<p>
  <strong>Vimeo url:</strong>
  <%= @manage_follow_u.vimeo_url %>
</p>

<p>
  <strong>Tumbir url:</strong>
  <%= @manage_follow_u.tumbir_url %>
</p>

<p>
  <strong>Rss url:</strong>
  <%= @manage_follow_u.rss_url %>
</p>

<p>
  <strong>Flickr url:</strong>
  <%= @manage_follow_u.flickr_url %>
</p>

<%= link_to 'Edit', edit_manage_follow_u_path(@manage_follow_u) %> |
<%= link_to 'Back', manage_follow_us_path %>
