<%= form_for(@manage_advertisement) do |f| %>
  <% if @manage_advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_advertisement.errors.count, "error") %> prohibited this manage_advertisement from being saved:</h2>

      <ul>
      <% @manage_advertisement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="adminform">
  <div class="left">

  <div class="label">
    <%= f.label :right_add_image %>
  </div>
    <%= f.file_field :right_add_image %>
  <div class="clr"></div><br>

  <div class="label">
    <%= f.label :right_url %>
  </div>
    <%= f.text_field :right_url %> Please enter the URL in the format: http://www.google.com
  <div class="clr"></div><br>

  <div class="label">
    <%= f.label :mid_add_image %>
  </div>
    <%= f.file_field :mid_add_image %>
  <div class="clr"></div><br>

  <div class="label">
    <%= f.label :mid_url %>
  </div>
    <%= f.text_field :mid_url %> Please enter the URL in the format: http://www.google.com
  <div class="clr"></div><br>

  <div class="actions">
    <%= f.submit 'Submit'%>
  </div>

</div>

<% end %>
