<%= form_for(@manage_advertisement) do |f| %>
  <% if @manage_advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_advertisement.errors.count, "error") %> prohibited this manage_advertisement from being saved:</h2>

      <ul>
      <% @manage_advertisement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="adminform">
  <div class="left">

  <div class="label">
    <%= f.label :top_image, 'Top Add Image' %>
  </div>
    <%= f.file_field :top_image %> Size must be minimum 928*90 and max 400*300
  <div class="clr"></div><br>

  <div class="label">
    <%= f.label :top_url, 'Top Add URL' %>
  </div>
    <%= f.text_field :top_url %> Please enter the URL in the format: http://www.google.com
  <div class="clr"></div><br>

  <div class="label">
    <%= f.label :mid_image, 'Mid Add Image' %>
  </div>
    <%= f.file_field :mid_image %> Size must be minimum 303*234 and max 400*300
  <div class="clr"></div><br>

  <div class="label">
    <%= f.label :mid_url, 'Mid Add URL' %>
  </div>
    <%= f.text_field :mid_url %> Please enter the URL in the format: http://www.google.com
  <div class="clr"></div><br>

  <div class="label">
    <%= f.label :bottom_image, 'Bottom Add Image' %>
  </div>
    <%= f.file_field :bottom_image %> Size must be minimum 774*100 and max 800*200
  <div class="clr"></div><br>

  <div class="label">
    <%= f.label :bottom_url, 'Bottom Add URL' %>
  </div>
    <%= f.text_field :bottom_url %> Please enter the URL in the format: http://www.google.com
  <div class="clr"></div><br>

  <div class="actions">
    <%= f.submit 'Submit'%>
  </div>

</div>

<% end %>
