<div id="paged-data-container">
<div class="tableCon">
  <div class="formHdBox">
    <div class="tableHd">advertisement</div>
    <div class="selectCity">
      <!-- <img src="assets/addnew.png" border="0"><%= link_to 'Add Advertisement', new_manage_advertisement_path %> -->
    </div>
  </div>
  <div class="paged-data">
    <div class="tabIner">
      <table cellpadding="0" cellspacing="0" width="100%" class="table">
        <thead>
          <tr class="tableHdIner alt-row">
              <td width="15%">Top Add Image</td>
              <td width="10%">Mid Add Image</td>
              <td width="15%">Bottom Add Image</td>
              <td width="10%">Top Add URL</td>
              <td width="10%">Mid Add URL</td>
              <td width="10%">Bottom Add URL</td>
              <td width="10%">Action</td>
          </tr>
        </thead>
        <tbody>
          <% @manage_advertisements.each do |manage_advertisement| %>
            <tr class="tableDet">
                <td><%= image_tag(manage_advertisement.top_image, :height => 25, :width => 70) if manage_advertisement.top_image.present? %></td>
                <td><%= image_tag(manage_advertisement.mid_image, :height => 25, :width => 25) if manage_advertisement.mid_image.present? %></td>
                <td><%= image_tag(manage_advertisement.bottom_image, :height => 25, :width => 70) if manage_advertisement.bottom_image.present? %></td>
                <td><%= manage_advertisement.top_url %></td>
                <td><%= manage_advertisement.mid_url %></td>
                <td><%= manage_advertisement.bottom_url %></td>
                <td align="center">

                  <%= link_to image_tag("view.gif", :title => "View"), manage_advertisement %>&nbsp;&nbsp;&nbsp;

                  <%= link_to image_tag("edit.png", :title => "Edit"), edit_manage_advertisement_path(manage_advertisement) %>

                </td>
            </tr>

          <% end %>
        </tbody>
      </table>  
    </div>
  </div>
</div>
</div>