<div id="paged-data-container">
  <div class="tableCon">
      <div class="formHdBox">
        <div class="tableHd">Admin Setting:  <span> </span>View advertisement</div>
      </div>
      <div class="adminform">
      <div class="left">

        <div class="fldline">
          <div class="label"><b>Top Add Image:</b></div>
          <div class="fld"><%= image_tag(@manage_advertisement.top_image, :width => 300) if @manage_advertisement.top_image.present? %></div>
          <div class="clr"></div>
        </div>
        
        <div class="fldline">
          <div class="label"><b>Top Add URL:</b></div>
          <div class="fld"><%= @manage_advertisement.top_url %></div>
          <div class="clr"></div>
        </div>

        <div class="fldline">
          <div class="label"><b>Mid Add Image:</b></div>
          <div class="fld"><%= image_tag(@manage_advertisement.mid_image, :width => 300) if @manage_advertisement.mid_image.present? %></div>
          <div class="clr"></div>
        </div>

        <div class="fldline">
          <div class="label"><b>Mid Add URL:</b></div>
          <div class="fld"><%= @manage_advertisement.mid_url %></div>
          <div class="clr"></div>
        </div>

        <div class="fldline">
          <div class="label"><b>Bottom Add Image:</b></div>
          <div class="fld"><%= image_tag(@manage_advertisement.bottom_image, :width => 300) if @manage_advertisement.bottom_image.present? %></div>
          <div class="clr"></div>
        </div>

        <div class="fldline">
          <div class="label"><b>Bottom Add URL:</b></div>
          <div class="fld"><%= @manage_advertisement.bottom_url %></div>
          <div class="clr"></div>
        </div>
                          
      </div>
      
      <div class="clr"></div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_manage_advertisement_path(@manage_advertisement) %> |
<%= link_to 'Back', manage_advertisements_path %>
