<div id="paged-data-container">
  <div class="tableCon">
      <div class="formHdBox">
        <div class="tableHd">Admin Setting:  <span> </span>View Retreat</div>
      </div>
      <div class="adminform">
      <div class="left">

        <div class="fldline">
          <div class="label"><b>Title:</b></div>
          <div class="fld"><%= @manage_retreat.title %></div>
          <div class="clr"></div>
        </div>
        
        <div class="fldline">
          <div class="label"><b>Sub Category:</b></div>
          <div class="fld"><%= @manage_retreat.sub_category %></div>
          <div class="clr"></div>
        </div>

        <div class="fldline">
          <div class="label"><b>Created By:</b></div>
          <div class="fld"><%= @manage_retreat.created_by %></div>
          <div class="clr"></div>
        </div>

        <div class="fldline">
          <div class="label"><b>Image:</b></div>
          <div class="fld"><%= image_tag(@manage_retreat.image, :width => 300) if @manage_retreat.image.present? %></div>
          <div class="clr"></div>
        </div>

        <div class="fldline">
          <div class="label"><b>Description:</b></div>
          <div class="fld"><%= @manage_retreat.desc %></div>
          <div class="clr"></div>
        </div>
                          
      </div>
      
      <div class="clr"></div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_manage_retreat_path(@manage_retreat) %> |
<%= link_to 'Back', manage_retreats_path %>
