<!-- <div class="row"><hr>
	<h5>ADMIN SETTING: EDIT SUB CATEGORY</h5><hr>
</div>

<%= render 'form' %>

<div class="row" style="margin:1px">
<%= link_to 'Show', @subcategory %> |
<%= link_to 'Back', subcategories_path %>
</div> -->



<div class="midRight">
<div class="rightMid">
    <div class="tableCon">
    	<div class="formHdBox">
        	<div class="tableHd">Admin Setting:  <span> </span>Edit Sub Category</div>
        </div>
	<%= render 'form' %>
	<%= link_to 'Show', @subcategory %> |
	<%= link_to 'Back', subcategories_path %>
    </div>
</div>
</div>