<%= form_for @manage_article do |f| %>
  <% if @manage_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_article.errors.count, "error") %> prohibited this manage_article from being saved:</h2>

      <ul>
      <% @manage_article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="adminform">
  <div class="left">


  <div class="label">
    <%= f.label :title %>
  </div>
    <%= f.text_field :title %>
  <div class="clr"></div><br/>

  <div class="label">
    <%= f.label :cat, 'Category' %>
  </div> 
    <%= f.select :cat, options_for_select(%w[POSE NOURISH HEAL GLOW RETREAT GREEN]), :prompt=>'Select Category*' %>
  <div class="clr"></div><br/>

  <div class="label">
    <%= f.label :sub_cat, 'Sub Category' %>
  </div>
    <%= f.collection_select :sub_cat, Subcategory.all,  :sub_cat_name, :sub_cat_name, :prompt=>'Select Subcategory*' %>
  <div class="clr"></div><br/>

  <div class="label">
    <%= f.label :image %>
  </div>
    <%= f.file_field :image %>
  <div class="clr"></div><br/>

  <div class="label">
    <%= f.label :created_by, 'Created By' %>
  </div>
    <%= f.text_field :created_by %>
  <div class="clr"></div><br/>

  <div class="label">
    <%= f.label :rel_article, 'Related Article' %>
  </div>
    <%= f.text_field :rel_article %>
  <div class="clr"></div><br/>

  <div class="label">
    <%= f.label :desc, 'Description' %>
  </div>
  <div class="fld">
    <%= f.cktext_area :desc %>
  </div>
  <div class="clr"></div><br/>
  
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>

</div>
<% end %>


<script>
  
  // When the browser is ready...
  // $(function() {
  
  //   // Setup form validation on the #register-form element
  //   $("#register-form").validate({
    
  //       // Specify the validation rules
  //       rules: {
  //           title: {
  //               required: true,
  //               title: true
  //           }
  //       },

  //       messages: {
            
  //           title: "Please enter a valid email address",
  //       },
        
  //       submitHandler: function(form) {
  //           form.submit();
  //       }
  //   });

  // });
  
  </script>