<%= nested_form_for @magazine, :html=>{:multipart => true } do |f| %>
  <% if @magazine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@magazine.errors.count, "error") %> prohibited this magazine from being saved:</h2>

      <ul>
      <% @magazine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="adminform">
  <div class="left">



  <div class="label">
    <%= f.label :title , 'Magazine Title'%>
  </div>
  <%= f.text_field :title %>
  <div class="clr"></div><br/>

  <div class="label" id="datepicker" data-date="current">
      <%= f.label :issue_date, 'Issue Date' %>
  </div>
  <%= f.text_field :issue_date, 'data-behaviour' => 'datepicker' %>
  <div class="clr"></div><br/>

  <div class="label">
    <%= f.label :cover_image, 'Magazine Cover Image' %>
  </div>
  <%= f.file_field :cover_image %>
  <div style="color:red;">Image size must be min 600*400 and max 800*600</div>
  <div class="clr"></div><br/>

  <div class="label">
    <%= f.label :desc, 'Description' %>
  </div>
  <div class="fld">
    <%= f.cktext_area :desc %>
  </div>
  <div class="clr"></div><br/>

  <div class="label">
    <%= f.label :pages, 'Magazine Pages' %>
  </div>
  <div style="color:red;padding-left:113px">Image size must be minimum 800*1200px
            <div>Please Rename your magazine pages as page no. Eg:- for firsr page 1.jpg , for secoend page 2.jpg and so on..</div>
  </div>
  <div class="clr"></div><br/>

  <%= f.fields_for :attachments do |attachment_form|  %>
    <%= attachment_form.file_field :file, :style => "padding-left:113px" %>
    <%= attachment_form.link_to_remove "Remove this file" %>
  <% end %>

  <%= f.link_to_add "Add More...", :attachments, :style => "padding-left:113px" %>

  <div class="actions">
    <%= f.submit 'Submit'%>
  </div>


</div>
<% end %>
