<div id="paged-data-container">
  <div class="tableCon">
      <div class="formHdBox">
        <div class="tableHd">Admin Setting:  <span> </span>View Magazine</div>
      </div>
      <div class="adminform">
      <div class="left">

        <div class="fldline">
          <div class="label"><b>Title:</b></div>
          <div class="fld"><%= @magazine.title %></div>
          <div class="clr"></div>
        </div>

        <div class="fldline">
          <div class="label"><b>Image:</b></div>
          <div class="fld"><%= image_tag(@magazine.cover_image, :width => 300) if @magazine.cover_image.present? %></div>
          <div class="clr"></div>
        </div>

        <div class="fldline">
          <div class="label"><b>Description:</b></div>
          <div class="fld"><%= @magazine.desc %></div>
          <div class="clr"></div>
        </div>
                          
      </div>
      
      <div class="clr"></div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %>
