<div class="bradcrumb"><a href="/home">Home</a><span>Article</span></div>
<div>
    <ul class="articleBox">
	    <% @manage_articles.each do |manage_article| %>
    	<li>
            <div class="articleLeft"><a href="#"><%= image_tag(manage_article.image, :height =>150 ) if manage_article.image.present? %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#"><%= manage_article.title %></a></div>
                <div class="by">By <%= manage_article.created_by %>&nbsp;&nbsp;<%= manage_article.created_by %></div>
                <div><%= raw manage_article.desc.truncate(200) %></div>
            </div>
            <div class="clr"></div>
        </li>
		<% end %>
	</ul>
</div>