<div class="bradcrumb"><a href="/home">Home</a><a href="/events">Events</a><span><%= @events.name.truncate(20) %></span>
</div>

<div>
    <h1><%= @events.name %></h1>
    <div class="articleShare fr">
    	<a class="twitter popup" href="http://twitter.com" onclick="return popitup('http://twitter.com/home?status=')"><i class="twitterIcon"></i>Tweet this article</a>
        <a href="http://www.facebook.com" onclick="return popitup('http://www.facebook.com')"><i class="facebookIcon"></i>Share on Facebook</a>
        <a href="mailto:abc@xyz.in?Subject=Yogalife News&amp;body=Hi" class="last"><i class="emailIcon"></i></a>
    </div>
    <div class="clr"></div>
	<div><%= raw @events.desc %></div>
    <br>
    <br>

<% if EventImage.exists?(attachable_id: @events.id) %>

    <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 685px;
        height: 456px; background: #24262e; overflow: hidden;">

        <!-- Loading Screen -->
        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
            <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
        </div>

        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 356px; overflow: hidden;">
        
            <% for e in @event_images %>
                <% if !e.file.blank? %>
                    <div>
                        <img u="image" src= <%= e.file %> />
                        <img u="thumb" src= <%= e.file %> />
                    </div>
                <% end %>
            <% end %>  

        </div>
        
        <!-- ThumbnailNavigator Skin Begin -->
        <div u="thumbnavigator" class="jssort07" style="position: absolute; width: 685px; height: 100px; left:0px; bottom: 0px;">
            <!-- Thumbnail Item Skin Begin -->
            <style>
                
            </style>
            
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="POSITION: absolute; WIDTH: 72px; HEIGHT: 72px; TOP: 0; LEFT: 0;">
                    <ThumbnailTemplate class="i" style="position:absolute;"></ThumbnailTemplate>
                    <div class="o">
                    </div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- ThumbnailNavigator Skin End -->
        <a style="display: none" href="http://www.jssor.com">jQuery Gallery</a>
        <!-- Trigger -->
        <script>
            jssor_slider_event('slider1_container');
        </script>
    </div>



<% end %>

<br>
<br>
<br>
</div>


<!-- FB COMMENTS -->

<div class="fb-comments" data-href= <%= request.url %> data-numposts="2" data-colorscheme="light"></div>