<!-- BANNER -->
<% @manage_advertisement = ManageAdvertisement.find_by_id(3) %>
<div class="banner">
<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 765px; height: 460px;">
<!-- Slides Container -->
    <div u="slides" style="cursor:move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 765px; height: 460px;" class="asdfg">

    <% @banners.each do |banner| %>
        <div>
            <%= image_tag (banner.image) %>
            <!-- <img u="image" src="images/banner_img.jpg" /> -->
            <div class="ls-s2 l1-s1" style="position: absolute; top: 140px; left: auto; right: 0px; display: block; width: auto; height: auto; font-size: 14px; padding: 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; opacity: 0.961550084261928;">
                <div class="bannerBox">
                    <span class="bannerHd">
                        <%= image_tag 'banner_txt.png' %>
                    </span>
                    <span class="bannerSubHd">Fabulous four for radiant skin</span>
                    <div class="bannerTxt">
                        Nutritionist, wellbeing and yoga consultant Laura Holland identies four foods you should be eating and applying for a gorgeous glow
                    </div>
                    <div class="learnMore"><%= link_to "Learn More", banner.url %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
        
    </div>
    <span u="arrowleft" class="jssord01l" style="width: 45px; height: 45px; top: 123px; left: 8px;">
    </span>
    <span u="arrowright" class="jssord01r" style="width: 45px; height: 45px; top: 123px; right: 8px">
    </span>
    
    <script>
        jssor_slider1_starter('slider1_container');
    </script>
</div>
</div>



<!-- YOGA NEWS -->

<div class="yoganewsCon">
    <h1>Yoga NEWS</h1>
    <div class="clearfix">
        <% @manage_news.each do |news| %>
            <div class="newsBox">
                <div class="newImg">
                    <%= link_to image_tag(news.news_image, :height => 250), :controller => 'home', :action => 'viewnews', :id => news.slug %>
                </div>
                <div class="newsDet">
                    <div class="newsHd"><%= truncate( raw( sanitize(news.title) ), :length => 20, :omission => "...") %></div>
                    <div class="newsDate"><%= news.created_at.strftime("%d-%b-%Y") %></div>
                    <div class="newsTxt"><%= truncate( raw( sanitize(news.desc) ), :length => 110, :omission => "...") %></div>
                </div>
            </div>
        <% end %>
    </div>
</div>


<!-- NOURISH -->

<div class="nourishCon">
    <h1>Nourish</h1>
    <div class="clearfix">
        <% @manage_nourishes.each do |nourish| %>
            <div class="nourishLeft"><%= link_to image_tag(nourish.image, :height => 150), :controller => 'home', :action => 'viewnourish', :id => nourish.slug %></div>
            <div class="nourishRight">
                <div class="hd"><%= link_to nourish.title.truncate(35), :controller => 'home', :action => 'viewnourish', :id => nourish.slug %></div>
                <div class="by">By <span><%= nourish.created_by %></span> - <%= nourish.updated_at.strftime("%d-%b-%Y") %></div>
                <div><%= raw nourish.desc.truncate(600) %></div>
            </div>
        <% end %>
    </div>
</div>
<br>

<!-- HEAL -->

<div class="nourishCon">
    <h1>HEAL</h1>
    <div class="clearfix">
        <% @manage_heals.each do |heal| %>
            <div class="nourishLeft"><%= link_to image_tag(heal.image, :height => 150), :controller => 'home', :action => 'viewheal', :id => heal.slug %></div>
            <div class="nourishRight">
                <div class="hd"><%= link_to heal.title.truncate(35), :controller => 'home', :action => 'viewheal', :id => heal.slug %></div>
                <div class="by">By <span><%= heal.created_by %></span> - <%= heal.updated_at.strftime("%d-%b-%Y") %></div>
                <div><%= raw heal.desc.truncate(600) %></div>
            </div>
        <% end %>
    </div>
</div>

<br>
<!-- GLOW RETREAT GREEN -->

<div class="clearfix">
    <div class="glowBox">
        <h1>GLOW</h1>
        <% @manage_glows.each do |glow| %>
        <div class="glowImg"><%= link_to image_tag(glow.image, :height => 150), :controller => 'home', :action => 'viewglow', :id => glow.slug %></div>
        <ul class="gloeLink">
            <li><a href="">Catching up with Kathryn</a></li>
            <li><a href="">Skin care by ayurveda</a></li>
            <li><a href="">In  My  Dreams again test</a></li>
        </ul>
        <% end %>
    </div>
    <div class="retreatBox">
        <h1>Retreat</h1>
        <% @manage_retreats.each do |retreat| %>
            <div class="glowImg"><%= link_to image_tag(retreat.image, :height => 150), :controller => 'home', :action => 'viewretreat', :id => retreat.slug %></div>
            <ul class="gloeLink">
                <li><a href="">Balasana</a></li>
                <li><a href="">Retreat Mind</a></li>
                <li><a href="">Kumbhakasana</a></li>
            </ul>
        <% end %>
    </div>
    <div class="greenBox">
        <h1>Green</h1>
        <% @manage_greens.each do |green| %>
            <div class="glowImg"><%= link_to image_tag(green.image, :height => 150), :controller => 'home', :action => 'viewgreen', :id => green.slug %></div>
            <ul class="gloeLink">
                <li><a href="">Green Planet</a></li>
                <li><a href="">From darkness to light</a></li>
                <li><a href="">Every Green Living Style</a></li>
            </ul>
        <% end %>
    </div>
</div>


<!-- LEFT BANNER -->

<div class="leftBanner"><%= link_to image_tag(@manage_advertisement.bottom_image), @manage_advertisement.bottom_url %></div>