<div class="bradcrumb"><a href="/home">Home</a><span>Pose</span> </div>
<div>
	<ul class="articleBox">
		<% @manage_poses.each do |pose| %>
        	<li>
                <div class="articleLeft"><%= link_to image_tag(pose.pose_image, :height => 150), :controller => 'home', :action => 'viewpose', :id => pose.slug %>
                </div>
                <div class="articleRight">
                    <div class="hd"><%= link_to pose.title, :controller => 'home', :action => 'viewpose', :id => pose.slug %></div>
                    <div class="by">By <%= pose.author %>&nbsp;&nbsp;<%= pose.updated_at.strftime("%d %B %Y") %></div>
                    <div><%= raw pose.desc.truncate(250) %></div>
                </div>
            	<div class="clr"></div>
            </li>
        <% end %>
    </ul>
</div>
