<div id="paged-data-container">
<div class="tableCon">
  <div class="formHdBox">
    <div class="tableHd">green</div>
    <div class="selectCity"><img src="assets/addnew.png" border="0"><%= link_to 'Add Green', new_manage_green_path %>
    </div>
  </div>
  <div class="paged-data">
    <div class="tabIner">
      <table cellpadding="0" cellspacing="0" width="100%" class="table">
        <thead>
          <tr class="tableHdIner alt-row">
              <td width="10%" class="first">S. NO</td>
              <td width="15%">Title</td>
              <td width="10%">Image</td>
              <td width="10%">Created By</td>
              <td width="10%">Description</td>
              <td width="10%">Created</td>
              <td width="10%">Updated</td> 
              <td width="12%">Action</td>
          </tr>
        </thead>
        <tbody>
          <% @manage_greens.each do |manage_green| %>
            <tr class="tableDet">
                <td class="first"><%= manage_green.id %></td>
                <td><%= manage_green.title %></td>
                <td><%= image_tag(manage_green.image, :height => 25, :width => 25) if manage_green.image.present? %></td>
                <td><%= manage_green.created_by %></td>
                <td><%= manage_green.desc %></td>
                <td><%= manage_green.created_at %></td>
                <td><%= manage_green.updated_at %></td>
                <td align="center">
                  <%= link_to image_tag("view.gif", :title => "View"), manage_green %>&nbsp;&nbsp;
                  <%= link_to image_tag("edit.png", :title => "Edit"), edit_manage_green_path(manage_green) %>&nbsp;&nbsp;
                  <%= link_to image_tag("delete.png", :title => "Delete"), manage_green, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>

          <% end %>
        </tbody>
      </table>  
    </div>
  </div>
</div>
</div>