<div class="bradcrumb"><a href="/home">Home</a><span>Nourish</span> </div>
<div>
	<ul class="articleBox">
		<% @manage_nourishes.each do |nourish| %>
	    	<li>
                <div class="articleLeft"><%= link_to image_tag(nourish.image, :height => 150), :controller => 'home', :action => 'viewnourish', :id => nourish.id %></div>
                <div class="articleRight">
                    <div class="hd"><%= link_to nourish.title, :controller => 'home', :action => 'viewnourish', :id => nourish.id %></div>
                    <div class="by">By <%= nourish.created_by %>&nbsp;&nbsp;<%= nourish.updated_at.strftime("%d %B %Y") %></div>
                    <div><%= nourish.desc %></div>
                </div>
                <div class="clr"></div>
            </li>
        <% end %>
    </ul>
</div>