<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
  <title>Yogalife</title>
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

   	<%= stylesheet_link_tag "dialog","fullcalendar","jquery-ui","style" %>
	<%= javascript_include_tag "jrails1/fullcalendar.js","jrails1/jquery-ui.js","jrails1/gcal.js","jrails1/jrails.js","jrails1/jquery.validate.js"%>

	
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



	<%= yield %>
	<div class="footer">© 2013 YogaLife.com. All Rights Reserved.<!-- </div>
    </div>    
</div> -->


</body>
</html>
