<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Yogalife</title>


  <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<%= stylesheet_link_tag "event_calendar" %>
 
  
</head>
<body>


<div class="mainCon">
	<div class="topBanner"><a href=""><%= image_tag "top_banner.jpg" %></a></div>
	<!-- Header section -->
	<!--Start Header -->
  <header class="header">
  	<div class="fl">
      <div class="logo"><a href="/home"><%= image_tag "logo.png" %></a></div>
      <div class="logoTxt">yoga and inspired living in the middle east</div>
    </div>
    <div class="headerRight">
    	<ul class="topLink">
      	<li><a href="/magazine">Magazine</a></li>
      	<li><a href="#">Store</a></li>
      	<li><a href="/contact">Contact</a></li>
        <li class="search"><a href="javascript:void(0)" class="searchL"><i class="searchIcon"></i></a>
        	<div class="searchBox" id="searchD" style="display: none;">
          	<gcse:search></gcse:search>
          </div>
        </li>
      </ul>
      <div class="topFollow">
        <a href="http://www.twitter.com" class="twitter" target="_blank">&nbsp;</a>
        <a href="http://www.facebook.com" class="facebook" target="_blank">&nbsp;</a>
        <a href="http://www.youtube.com" class="youtube" target="_blank">&nbsp;</a>
      </div>
    </div>
    <div class="clr"></div>
  </header>
  <!--End Header -->
	<!--Start Tab -->
  <nav class="tab">
  	<a class="mobLemuL" href="javascript:void(0)"><img src="images/mob_menu_bg.gif" alt=""></a>
    <ul id="menu">
    	<li><a href="/home" class="sel">Home</a></li>
	  	<li><a href="/pose/index" class="a">Pose</a>
				<ul class="submenu">
				 	<li><a href="/pose/pranayama">Pranayama</a></li>
				 	<li><a href="/pose/community">Community</a></li>
				 	<li><a href="/pose/asanas_and_sequences">Asanas and sequences</a></li>
				 	<li><a href="/pose/pilates">Pilates</a></li>
				 	<li><a href="/pose/yoga">Yoga</a></li>
        </ul>
			</li>
      <li class=""><a href="/nourish/index" class="">Nourish</a>
	  		<ul class="submenu" style="display: none;">
				 	<li><a href="/nourish/restaurants_and_cafes">Restaurants and cafes</a></li>
				 	<li><a href="/nourish/recipes">Recipes</a></li>
				 	<li><a href="/nourish/nutrition">Nutrition</a></li>
        </ul>
      </li>
    	<li class=""><a href="/heal/index" class="">Heal</a>
				<ul class="submenu" style="display: none;">
				 	<li class=""><a href="/heal/spirit">Spirit</a></li>
				 	<li class=""><a href="/heal/mind">Mind</a></li>
				 	<li class=""><a href="/heal/body">Body</a></li>
        </ul>
	  	</li>
    	<li class=""><a href="/glow/index" class="">Glow</a>
				<ul class="submenu" style="display: none;">
				 	<li><a href="/glow/reviews">Reviews</a></li>
				 	<li><a href="/glow/haircare">Haircare</a></li>
				 	<li><a href="/glow/skincare">Skincare</a></li>
        </ul>
	  	</li>
    	<li class=""><a href="/retreat/index" class="">Retreat</a>
				<ul class="submenu" style="display: none;">
				 	<li><a href="/retreat/international">International</a></li>
				 	<li><a href="/retreat/local">Local</a></li>
        </ul>
	  	</li>
  		<li class=""><a href="/green/index" class="">Green</a>
				<ul class="submenu" style="display: none;">
				 	<li class=""><a href="/green/living_green">Living Green</a></li>
				 	<li class=""><a href="/green/planet_earth">Planet Earth</a></li>
        </ul>
	  	</li>
    	<li><a href="/events" class="">Events</a></li>
  		<li><a href="/directory" class="">Directory</a></li>
      <li class=""><a href="/about" class="">About</a></li>
    </ul>
		<ul id="menuMob" style="display: none;">
    	<li><a href="/home" class="sel">Home</a></li>
    	<li><a href="/pose/index" class="">Pose</a></li>
    	<li><a href="/nourish/index" class="">Nourish</a></li>
    	<li><a href="/heal/index" class="">Heal</a></li>
    	<li><a href="/glow/index" class="">Glow</a></li>
    	<li><a href="/retreat/index" class="">Retreat</a></li>
    	<li><a href="/green/index" class="">Green</a></li>
    	<li><a href="/events" class="">Events</a></li>
    	<li><a href="/directory" class="">Directory</a></li>
     	<li><a href="/about" class="">About</a></li>
    </ul>
  </nav>

<%= yield %>

<!-- TERMS -->
<section class="midCon clearfix">
  <aside class="midLeft">
    <div class="clearfix">
      <div class="yogalife">
        <h2>Yogalife</h2>
        <div>
          <%= @cm.find_by_id(8) do |cm| %>
            <%= sanitize(cm.page_content) %>
          <% end %>
        </div>
      </div>
      <div class="sitemap clearfix">
        <h2>Sitemap</h2>
        <ul class="sitemapLink">
          <li><a href="/pose/index">POSE</a></li>
          <li><a href="/retreat/index">RETREAT</a></li>
          <li><a href="/events">EVENTS</a></li>
          <li><a href="/nourish/index">NOURISH</a></li>
          <li><a href="/green/index">GREEN</a></li>
          <li><a href="/magazine">MAGAZINE</a></li>
          <li><a href="/heal/index">HEAL</a></li>
          <li><a href="/directory">DIRECTORY</a></li>
          <li><a href="/horos">HOROSCOPES</a></li>
          <li><a href="#">CONTRIBUTE</a></li>
          <li><a href="/glow/index">GLOW</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/contact">CONTACT</a></li>
          <li><a href="/article">ARTICLE</a></li>
          <li><a href="/news">News</a></li>
        </ul>
      </div>
    </div>
  </aside>
</section>



    <footer class="footer">
    Copyright © Yoga Life, 2013. All Rights Reserved. <span>Web design by GO-Gulf.com</span>
    </footer>
    <!--End Footer --></div>
	





</body>
</html>
